{{!-- make text area for comment --}}
<form class="comment-form">

    <div class="new-comment">

        <div>
            <label for="comment-text">Leave a Comment</label>
            <textarea id="comment-text" rows="5" cols="70"></textarea>
        </div>

        <div>
            <button type="submit">Add Comment</button>
        </div>

    </div>

</form>    

{{!-- link script --}}
<script src="/js/comment.js"></script>

