<div>
    <div>
        <h2>Dashboard</h2>
    </div>
    {{#each userData.Posts as |userPost|}}
    {{!-- make div clickable to lead to post.handlebars --}}
    <div>
        <p>{{userPost.title}} created on {{userPost.createdAt}}</p>
        <p>{{userPost.contents}} </p>
    </div> 
    {{/each }}
</div>

</div>


    
    </div>
        <a href="/Create">Create a new Post</a>
        <a href="/update">Update Post</a>
        <a href="/delete">Delete Post</a>
    </div>
</div>

{{!-- option to add a new blog post --}}
{{!-- leads to new page to make a new blog post new post page or anthoner partial --}}
{{!-- option to delete or update a post and returns user to an updated dashboard --}}
{{!-- must be logged in to see this page --}}