<div>
    <div>
        <h2>Dashboard</h2>
    </div>
    {{#each userData.Posts as |userPost|}}
    {{!-- make div clickable to lead to post.handlebars --}}
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">{{userPost.title}} created on {{userPost.createdAt}}</h6>
            <p class="card-text">{{userPost.contents}} </p>
            <a href="/update-post" class="card-link">Update Post</a>
            <a href="api/post/delete/{{userPost.id}}" class="card-link">Delete Post</a>
        </div>    
    </div> 
    {{/each }}
    </div>
        <a href="/new-post">Create a new Post</a>
    </div>
</div>

<script src="/js/post.js"></script>

{{!-- option to add a new blog post --}}
{{!-- leads to new page to make a new blog post new post page or anthoner partial --}}
{{!-- option to delete or update a post and returns user to an updated dashboard --}}
{{!-- must be logged in to see this page --}}