<div>
    <div>
        <h2>Home</h2>
    </div>
    {{#each posts as |post|}}
    {{!-- make div clickable to lead to post.handlebars --}}
    <div>
        {{#each post.Posts as |item| }}
        <p>{{item.title}}</p>
        <p>Created by: {{post.name}} on {{item.createdAt}}</p>
        {{/each }}
    </div> 
    {{/each }}
</div>

{{!-- display post from all users --}}
{{!-- when a user click on the a blog post they will then see the contents --}}
{{!-- add an option to add comments --}}
{{!-- can see this page when logged out --}}