<div>
    <div>
        <h2>Home</h2>
    </div>
    {{#each posts as |post|}}
    {{!-- make div clickable to lead to post.handlebars --}}
    <a href="/post/{{post.id}}">
        <div>
            <p>{{post.title}} Created on {{post.createdAt}}</p>
        </div>
    </a> 
        {{/each }}
</div>

{{!-- display post from all users --}}
{{!-- when a user click on the a blog post they will then see the contents --}}
{{!-- add an option to add comments --}}
{{!-- can see this page when logged out --}}